.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 44px;
}
  
  
  .navBarLinks:hover {
    color: #ec9128;
  }
  
  .active {
    background-color: #ec9128;
  }
  
  .navBarLinks {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: helvetica;
  }