.navbar{
    position: sticky;
    align-items: center;
    height: 44px;
    display: flex;
    top: 0;
    position: -webkit-sticky;
    overflow: hidden;
    text-align: center;
    /* list-style-type: none; */
    z-index: 100;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.432);
  }
  
  .navBarLinks {
    float: center;
    /* border-right: 1px solid  #ec9128; */
  }
  
  .navBarLinks:hover {
    color: #ec9128;
  }
  
  .active {
    background-color: #ec9128;
  }
  
  .navBarLinks {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }